:root {
	--bg-color: #d5d5d5;
	--text-color: #000000;
	--card-bg: #efefef;
	--card-text: #000000;
	--card-disabled: #797878;
	--btn-bg: #f0f0f0;
	--btn-text: #000000;
	--input-bg: #ffffff;
	--input-text: #000000;
	--error-color: rgb(247, 19, 7);
	--loader-border: #efefef;
}

.dark {
	--bg-color: #1e1e1e;
	--text-color: #f0f0f0;
	--card-bg: #2c2c2c;
	--card-text: #f9f9f9;
	--card-disabled: #999999;
	--btn-bg: #444444;
	--btn-text: #ffffff;
	--input-bg: #2c2c2c;
	--input-text: #f0f0f0;
	--error-color: #ff6b6b;
	--loader-border: #444444;
}

.app {
	background-color: var(--bg-color);
	color: var(--text-color);
	text-align: center;
	margin: 0 auto;
	padding: 20px;
	min-height: 100vh;
}

.title {
	text-align: center;
}

.input {
	padding: 5px 10px;
	border-radius: 8px;
	border: none;
	background-color: var(--input-bg);
	color: var(--input-text);
	margin: 10px;
}

.btn {
	padding: 5px 10px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	background-color: var(--btn-bg);
	color: var(--btn-text);
	margin: 5px;
}

.modeBtn {
	position: fixed;
	top: 20px;
	right: 20px;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border: 10px solid var(--loader-border);
	border-right-color: transparent;
	border-radius: 50%;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error {
	text-align: center;
	color: var(--error-color);
	font-size: 1.5em;
	font-weight: bold;
}
